node_modules
dist
.env
.env.local
*.db
*.db-journal
dist
.expo
.expo-shared
.expo-device
.expo-ipc
.expo-shared-core
.expo-shared-solid
.expo-shared-solid-push
.expo-remote
.expo-hot
.expo-dev-client
.expo-updates
web-build
web
*.tsbuildinfo
.eslintcache
.prettierrc
.cache

*.db-wal
*.db-shm
/server/uploads/*.png
/server/uploads/*.png
